.fluid-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 9999999;
    cursor: pointer;
}
.shortcut-overlay {
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#ffffff00; /* Black background with opacity */
    z-index: 9999999;
    cursor: pointer;
}
.shortcut-overlay-logo{
  position: absolute;
  top: 32px;
  right: 0%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.overlay-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.icn-spinner {
    animation: spin-animation 1.5s infinite;
    display: inline-block;
}
  
@keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

/* https://docs.google.com/viewerng/viewer?url= */

/* {
  "kind": "drive#file",
  "id": "1_IfsKhNOraAG9VlVLBUUo0v6BsMyQb51",
  "name": "New Folder",
  "mimeType": "application/vnd.google-apps.folder"
 } */
 

 /* {
  "spreadsheetId": "1gFSuQWA3Z6h4G7ZsOoAqE8IHqcbBnbzup3-VjrNmcEw",
  "properties": {
    "title": "new eathu",
    "locale": "en_US",
    "autoRecalc": "ON_CHANGE",
    "timeZone": "Etc/GMT",
    "defaultFormat": {
      "backgroundColor": {
        "red": 1,
        "green": 1,
        "blue": 1
      },
      "padding": {
        "top": 2,
        "right": 3,
        "bottom": 2,
        "left": 3
      },
      "verticalAlignment": "BOTTOM",
      "wrapStrategy": "OVERFLOW_CELL",
      "textFormat": {
        "foregroundColor": {},
        "fontFamily": "arial,sans,sans-serif",
        "fontSize": 10,
        "bold": false,
        "italic": false,
        "strikethrough": false,
        "underline": false,
        "foregroundColorStyle": {
          "rgbColor": {}
        }
      },
      "backgroundColorStyle": {
        "rgbColor": {
          "red": 1,
          "green": 1,
          "blue": 1
        }
      }
    },
    "spreadsheetTheme": {
      "primaryFontFamily": "Arial",
      "themeColors": [
        {
          "colorType": "ACCENT6",
          "color": {
            "rgbColor": {
              "red": 0.27450982,
              "green": 0.7411765,
              "blue": 0.7764706
            }
          }
        },
        {
          "colorType": "ACCENT1",
          "color": {
            "rgbColor": {
              "red": 0.25882354,
              "green": 0.52156866,
              "blue": 0.95686275
            }
          }
        },
        {
          "colorType": "LINK",
          "color": {
            "rgbColor": {
              "red": 0.06666667,
              "green": 0.33333334,
              "blue": 0.8
            }
          }
        },
        {
          "colorType": "BACKGROUND",
          "color": {
            "rgbColor": {
              "red": 1,
              "green": 1,
              "blue": 1
            }
          }
        },
        {
          "colorType": "ACCENT4",
          "color": {
            "rgbColor": {
              "red": 0.20392157,
              "green": 0.65882355,
              "blue": 0.3254902
            }
          }
        },
        {
          "colorType": "ACCENT2",
          "color": {
            "rgbColor": {
              "red": 0.91764706,
              "green": 0.2627451,
              "blue": 0.20784314
            }
          }
        },
        {
          "colorType": "ACCENT5",
          "color": {
            "rgbColor": {
              "red": 1,
              "green": 0.42745098,
              "blue": 0.003921569
            }
          }
        },
        {
          "colorType": "TEXT",
          "color": {
            "rgbColor": {}
          }
        },
        {
          "colorType": "ACCENT3",
          "color": {
            "rgbColor": {
              "red": 0.9843137,
              "green": 0.7372549,
              "blue": 0.015686275
            }
          }
        }
      ]
    }
  },
  "sheets": [
    {
      "properties": {
        "sheetId": 1,
        "title": "Content",
        "index": 0,
        "sheetType": "GRID",
        "gridProperties": {
          "rowCount": 1000,
          "columnCount": 26
        }
      },
      "basicFilter": {
        "range": {
          "sheetId": 1,
          "startRowIndex": 0,
          "endRowIndex": 1000,
          "startColumnIndex": 0,
          "endColumnIndex": 12
        }
      }
    },
    {
      "properties": {
        "sheetId": 2,
        "title": "Tags",
        "index": 1,
        "sheetType": "GRID",
        "gridProperties": {
          "rowCount": 1000,
          "columnCount": 26
        }
      }
    },
    {
      "properties": {
        "sheetId": 3,
        "title": "Keyword libraries",
        "index": 2,
        "sheetType": "GRID",
        "gridProperties": {
          "rowCount": 1000,
          "columnCount": 26
        }
      }
    }
  ],
  "spreadsheetUrl": "https://docs.google.com/spreadsheets/d/1gFSuQWA3Z6h4G7ZsOoAqE8IHqcbBnbzup3-VjrNmcEw/edit?ouid=117041990510272998795"
} */
